<div class="panel-heading">

<%= link_to root_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-home"></i>
<%= t('.home') %>

<% end %>
<% if current_user %>
<%= link_to geocache_index_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-folder-close"></i>
<%= t('.home') %>

<% end %>
<% end %>
<div class="pull-right">
<% if current_user %>

<%= link_to edit_user_registration_path, class: "btn btn-primary" do%>
<i class="glyphicon glyphicon-user"></i>
<%= t('.settings') %>
<% end %>

<%= link_to destroy_user_session_path, class: "btn btn-primary", method: :delete do%>
<i class="glyphicon glyphicon-log-out"></i>
<%= t('.log_out') %>
<% end %>

<% else %>
<%= link_to new_user_session_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-log-in"></i>
<%= t('.sign_in') %>
<% end %>
<%= link_to new_user_registration_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-open"></i>
<%= t('.sign_up') %>
<% end %>
<% end %>
</div>

  <div class="clearfix"></div>
</div>

