<h3>
Name:
</h3>
<h3>
<%= @geocache.name%>
</h3>
<h3>
Code:
</h3>
<h3>
<%= @geocache.code%>
</h3>
<h3>
Description:
</h3>
<h3>
<%= @geocache.description%>
</h3>
<h3>
Notes:
</h3>
<h3>
<%= @geocache.notes%>
</h3>
<hr>
<%= link_to "Back to geocaches", geocache_index_path %>